body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow:scroll;
}

.buttons {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    gap: 15%;
    padding: 0 50px;
    flex: 1 0 auto;
    margin: 1px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px;
    flex-grow: 1;
    max-height:20vw;
    flex-basis: 0;
    min-width:min-content;
    min-height: 150px;
}

button img {
    max-height: 110px;
    width:90%;
    min-height: 90%;
}

button div {
    justify-self: flex-end;
}

.scores {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    flex: 1 2 auto;
    align-items: center;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
}

.label {
    text-align: center;
}